legend{
    font-family: 'Brush Script MT';
    color: purple; 
    font-size: 40px;  
    opacity: 0.9;
}

img {
    height: 200px;
    width: 200px;
    border: black;
    border-radius: 10%;
    box-shadow: 2px 0.2px 5px black;
    transition: 1s;
}

fieldset{
    border: 2px solid hotpink;
    background-color: rgb(167, 145, 148,0.2);
    margin: auto;
    border-radius: 10%;
    text-align: center;
    width: 700px;

}

img:hover{
    box-shadow: 4px 4px 30px black;

}